langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
watchdog
#langchain-cil[inmem]
fastapi
uvicorn[standard]
langchain-core
langchain-groq
langchain
pydantic
python-multipart
